$black :#222;
$white:#fff;
$lightgray:darken($white, 10%);

$testcolor:#f24021;

  @mixin keyframes ($name) {
    @-webkit-keyframes $name { @content }
       @-moz-keyframes $name { @content }
         @-o-keyframes $name { @content }
            @keyframes $name { @content }
  }

  @mixin animate ($name, $duration, $type:infinite, $ease:linear) {
    -webkit-animation: $name $duration $type $ease;
       -moz-animation: $name $duration $type $ease;
         -o-animation: $name $duration $type $ease;
            animation: $name $duration $type $ease;
  }


*,*:before, *:after {
  box-sizing:border-box;
}
* {
  position:relative;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
}



%display_font {
  font-family:"Helvetica Neue", Arial, sans-serif;
   font-family: "jaf-facitweb";
  // font-family: "ff-meta-web-pro";
  // font-family: "ff-basic-gothic-web-pro";
  // font-family: "futura-pt",sans-serif;
  // font-family: "pragmatica-web-condensed";
  // font-family: "ratio";
  // font-family: "adelle-sans";
   // font-family: "proxima-nova";
   // font-family: "dejarip";
    // font-family: "ff-dagny-web-pro";
      // font-family: "runda";
}
// moree


// CLEARFIX the 'Beat that clear fix' 2012 way
// http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
// ======================================================================
@mixin clearfix {
 &:after { content:""; display:table; clear:both; }
}
















html {
  font-size:65.5%;
}

body {
  font-size:1.6rem;
  @extend %display_font;

}



// start!
body, html {
    padding: 0;
  margin: 0;
}
html {
      // background-color:$testcolor;
    // -webkit-transition:all 0.5s ease-out;
    overflow:auto;
    background-color:#F0EDE6;
}
body {
  width:100%;
  display:block;
  min-height:100%;
  // position:fixed;
  overflow:hidden;
    @include clearfix;
      // -webkit-transition:all 0.3s linear;
}

header, footer {
  display:block;
  height:5rem;
  width:100%;
  position:fixed;
  z-index: 100;
  top:0;
  left:0;
}

.logo {
  font-size:1.6rem;
}
footer {
  top:auto;
  bottom:0;
}

.about {
  position:fixed;
  top:0;
  left:10%;
  right:0;
  bottom:0;
  padding:5%;
  z-index: 1;

}
.wrap {
  @include clearfix;
  -webkit-transition:all 0.5s ease-out;
  // body.flap_about & {
      // -webkit-transform:translateX(-90%);
    // } 
}

header h1 {
  padding-left:5%;
  padding-top:2.5%;
  font-size:1.7rem;
}

footer {
  p {
    padding-left:5%;
    padding-bottom:2.5%;
    font-size:1.4rem;
  }
}
.color {
  z-index: 3;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#F0EDE6;

  -webkit-transition:all 0.25s linear;

}

.roll {
  position:relative;
  float:right;
  width:30%;
  right:10%;
  z-index: 4;
}

.isle {
  width:100%;
  padding-bottom:60%;
  position:relative;
  left:0;
  display:block;
  z-index: 3;
  section {display:block; @include clearfix; height:100%;}

  margin-bottom:130%;

  &:first-child {
    margin-top:30%;
  }


// .row {float:right;}
.sample {
  display:inline-block;
  background-color:$testcolor;
  width:30%;
  padding-bottom:30%;
  margin-top:5%;
  margin-left:5%;
  margin-right:-2.5%;
}

h1 {
  font-size:4rem;
  color:inherit;
}
h2 {
  width:100%;
  height:auto;
    word-wrap: break-word;
    display:block;
    // background-color:red;
}

.details {
  vertical-align:top;
    padding-top:3%;
    padding-left:5%;
    margin-right:2.5%;
    display:inline-block;
}
.others {
  padding-top:5%;
  // padding-left:40%;
  p { color:inherit; font-size:1.6rem; position:relative; line-height:2;}
  .color_type {
    text-align:left;
    width:6rem;
    display:inline-block;
    &:after  {
      content: "";
      display:inline-block;
      float:right;
    }
  }
  .color_val {
    // margin-left:1rem;
    font-weight:bold;
  }
  padding-bottom:7.5%;
  margin-left:5%;

}
}
.sidebar {
  position:fixed;
    top:0;
    bottom:0;
    margin:4rem 0;
    background-color:$black;
    left:0;
    width:4rem;
}


.searcher {
  position: fixed;
  top:15%;
  height:4rem;
  width:30%;
  margin-top:-2.8rem;
  left:5%;
  
  background-color:hsl(0,0%,10%);
  z-index: 300;
     -webkit-transform:translate3d(0,0,0);


  input {
    width:100%;
    height:100%;
    border-radius:0;
    border:none;
    padding:0;
    -webkit-appearance: textfield;
    background-color:transparent;
    text-indent:1rem;
    color:hsl(0,0%,90%);
    font-weight:500;
    font-size:2rem;
    outline:none;
    @extend %display_font;
    &::-webkit-input-placeholder { color:inherit; font-weight:500; font-weight:500; }
    &::-webkit-search-cancel-button { margin-right:-10%; color:black; background-color:black; right:0; display:none;}
    &::-webkit-search-decoration { -webkit-appearance: none; }
    // &:focus { background-color:transparent; @include background-image($noise,linear-gradient(lighten(#202020, 5%), lighten(#101010, 4%)));  }
  }
  &.light {
    background-color:hsl(0,0%,90%);
    input {color:hsl(0,0%,10%);}
  }

  }


// do font opacity thigny
// 

  body {
    opacity:1;
    -webkit-transition:opacity 0.15s linear;
    .wf-loading & {opacity:0;}
  }



